---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Videos">
	<main>
		<h1 class="text-6xl mb-7">Welcome to <span class="text-gradient">Videos</span></h1>
		<div class="flex items-center justify-center">
			<button
				class="bg-[#1b1c1d] duration-500 hover:bg-[#3d3e3f] text-white font-bold py-2 px-4 cursor-pointer rounded"
				onclick="window.location.href = '/videos?page=1'"
			>Ver videos</button>
		</div>
	</main>
</Layout>
